<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>
      <span>Touch-window</span>
    </h2>
    <span flex></span>
    <md-button class=" md-mini" aria-label="Favorite" ng-click="showSimpleToast()" class="btn" data-clipboard-text="{{url}}">
      <md-icon md-svg-icon="img/icons/share.svg"></md-icon>
    </md-button>
  </div>
</md-toolbar>

<div class="canvas-container">
  <md-card class="canvas" ng-touchmove="onTouchmove($event)">
    <md-card-content>
      <div class="finger" ng-repeat="i in fingers track by $index" style="top: {{fingers[$index].y}}px; left: {{fingers[$index].x}}px; transition:all 0.1s linear; display: {{fingers[$index].visible ? 'inline' : 'none'}}">&nbsp;</div>
    </md-card-content>
  </md-card>
</div>
